* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#product-women {
  height: 129px;
  width: 98%;
  margin: auto;
  margin-top: 90px;
  /* border: 1px solid black; */
}

#product-women > #path {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

#product-women > #path > p {
  /* padding: 0 25px 0 0; */
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 14px;
}

#product-women > #items {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#product-women > #items > h3 {
  font-size: 15px;
}

#product-women > #men-filters {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

#product-women > #men-filters > #filters-main {
  width: 18%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

#product-women > #men-filters > #sort {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  /* border: 1px solid black; */
}

#product-women > #men-filters > #sort > #sort-1 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

#product-women > #men-filters > #sort > #sort-1 > div {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#product-women > #men-filters > #sort > #sort-1 > div > p {
  font-size: 14px;
  padding: 0 10px 0 0;
  margin: 0;
}

#product-women > #men-filters > #sort > #sort-1 > div > i {
  font-size: 15px;
  padding-top: 4px;
}

#product-women > #men-filters > #sort > #sort-2 > select {
  background-image: none;
  outline: 0;
  padding: 0 10px;
  width: 220px;
  height: 38px;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(192, 192, 192);
}

#women-body {
  height: 80%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(229, 229, 229);
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#women-body > #left {
  height: 100%;
  width: 18%;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#women-body > #left > div {
  padding: 22px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(229, 229, 229);
  border-right: 1px solid rgb(229, 229, 229);
}

#women-body > #left > #categories > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#women-body > #left > #brand > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#women-body > #left > #brand > #more {
  width: 60%;
  text-align: center;
  padding: 5px 0;
}

#women-body > #left > #brand > #more > span {
  font-size: 14px;
  color: rgb(255, 79, 108);
}

#women-body > #left > #color > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#women-body > #left > #color > #more {
  width: 60%;
  text-align: center;
  padding: 5px 0;
}

#women-body > #left > #color > #more > span {
  font-size: 14px;
  color: rgb(255, 79, 108);
}

#women-body > #left > #discount > h2 {
  font-size: 13px;
  margin-bottom: 15px;
}

#women-body > #left > #categories > input,
label {
  margin-bottom: 8px;
}

#women-body > #left > #categories > input {
  height: 14px;
  width: 14px;
}

#women-body > #left > #categories > label {
  color: rgb(78, 78, 78);
  padding-left: 8px;
  font-size: 14px;
}

#women-body > #left > #brand > input,
label {
  margin-bottom: 8px;
}

#women-body > #left > #brand > input {
  height: 14px;
  width: 14px;
}

#women-body > #left > #brand > label {
  font-size: 14px;
  padding-left: 8px;
  color: rgb(78, 78, 78);
}

#women-body > #left > #color > .color-structure {
  width: auto;
  display: flex;
  align-items: center;
  line-height: 10px !important;
  /* border: 1px solid black; */
}

#women-body > #left > #color > .color-structure > input {
  height: 14px;
  width: 14px;
}

#women-body > #left > #color > .color-structure > label {
  font-size: 14px;
  color: rgb(78, 78, 78);
}

#women-body > #left > #color > .color-structure > div {
  margin: 0 10px;
}

#women-body > #left > #color > .color-structure > div {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: black;
}

#women-body > #left > #color > .color-structure > #white {
  border: 1px solid rgb(201, 201, 201);
}

#women-body > #left > #color > .color-structure > label {
  font-size: 14px;
  padding-top: 8px;
}

#women-body > #left > #color > .color-structure > #black {
  background-color: black;
}
#women-body > #left > #color > .color-structure > #blue {
  background-color: blue;
}
#women-body > #left > #color > .color-structure > #white {
  background-color: white;
}
#women-body > #left > #color > .color-structure > #navy {
  background-color: navy;
}
#women-body > #left > #color > .color-structure > #green {
  background-color: green;
}
#women-body > #left > #color > .color-structure > #grey {
  background-color: grey;
}
#women-body > #left > #color > .color-structure > #red {
  background-color: red;
}

#women-body > #left > #discount > input,
label {
  margin-bottom: 8px;
}

#women-body > #left > #discount > input {
  height: 14px;
  width: 14px;
}

#women-body > #left > #discount > label {
  font-size: 14px;
  padding-left: 8px;
  color: rgb(78, 78, 78);
}

#women-body > #right {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

#women-body > #right > .product {
  width: 19%;
  margin: 20px 28px 10px 28px;
  transition: 0.2s ease;
}

#women-body > #right > .product:hover {
  box-shadow: rgba(54, 53, 53, 0.24) 0px 3px 8px;
  cursor: pointer;
}

#women-body > #right > .product > .img {
  height: 250px;
  width: 100%;
}

#women-body > #right > .product > .img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#women-body > #right > .product > .details {
  padding: 5px 10px;
}

#women-body > #right > .product > .details > h2 {
  font-size: 16px;
  font-weight: 700;
}

#women-body > #right > .product > .details > h3 {
  font-size: 13px;
  font-weight: 600;
  color: rgb(116, 116, 116);
  /* border: 1px solid black; */
}

#women-body > #right > .product > .details > .price-structure {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

#women-body > #right > .product > .details > .price-structure > h3 {
  font-size: 12px;
}

#women-body > #right > .product > .details > .price-structure > span {
  font-size: 12px;
  color: grey;
  text-decoration: line-through;
}

#women-body > #right > .product > .details > .price-structure > h6 {
  color: rgb(255, 136, 93);
  /* padding: 0 5px; */
}


#women-body > #right > #no-prod {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#women-body > #right > #no-prod > h2 {
  font-weight: 600;
}
