#cart-body {
  height: auto;
  width: 100%;
  margin-top: 90px;
  display: flex;
  /* border: 2px solid black; */
}

#cart-body > #left {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 25px;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-one {
  height: 10%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
}

#cart-body > #left > #left-one > p {
  font-weight: bold;
  font-size: 13px;
  color: black;
  padding: 0;
  margin: 0;
}

#cart-body > #left > #left-one > button {
  font-weight: bold;
  font-size: 13px;
  padding: 6px 18px;
  border: none;
  background: none;
  color: #ff3f6c;
  border-radius: 2px;
  border: 1px solid #ff3f6c;
}

#cart-body > #left > #left-one > button:hover {
  background-color: #ffe3ea;
  cursor: pointer;
}

#cart-body > #left > #left-two {
  height: 18%;
  width: 75%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 0 0 0;
  border: 1px solid rgb(226, 226, 226);
}

#cart-body > #left > #left-two > p {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 12px;
}

#cart-body > #left > #left-two > #offer {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-two > #offer > img {
  padding-right: 10px;
}

#cart-body > #left > #left-two > #more {
  width: auto;
  display: flex;
  align-items: center;
  color: #ff3f6c;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-two > #more > i {
  padding-top: 5px;
  padding-left: 2px;
}

#cart-body > #left > #left-two > div,
#para {
  padding-left: 10px;
}

#cart-body > #left > #left-three {
  height: 10%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 15px;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-three > div:nth-child(1) {
  width: 32%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-three > div:nth-child(1) > h3 {
  font-weight: 600;
}

#cart-body > #left > #left-three > div:nth-child(1) > input {
  height: 16px;
  width: 16px;
  accent-color: hsl(345, 100%, 56%);
  cursor: pointer;
}

#cart-body > #left > #left-three > div:nth-child(2) {
  height: 70%;
  width: 45%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-three > div:nth-child(2) > h4:nth-child(1) {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid black;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-four {
  height: auto;
  width: 75%;
  margin-top: 20px;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
}

#cart-body > #left > #left-four > #products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-four > #products > .product {
  width: 85%;
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-four > #products > .product > .product-img {
  height: 180px;
  width: 25%;
  /* border: 1px solid red; */
}

#cart-body > #left > #left-four > #products > .product > .product-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#cart-body > #left > #left-four > #products > .product > .details {
  /* width: 70%; */
  padding: 8px 8px;
  /* border: 1px solid blue; */
}

#cart-body > #left > #left-four > #products > .product > .details > h5 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#cart-body > #left > #left-four > #products > .product > .details > p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: black;
  line-height: 14px !important;
}

#cart-body > #left > #left-four > #products > .product > .details > span {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: rgb(59, 59, 59);
}

#cart-body > #left > #left-four > #products > .product > .details > .buttons {
  display: flex;
  justify-content: space-between;
  width: 38%;
  padding: 8px 0;
}
#cart-body
  > #left
  > #left-four
  > #products
  > .product
  > .details
  > .buttons
  > button {
  padding: 1px 5px;
  border: none;
  font-weight: 700;
}

#cart-body > #left > #left-four > #products > .product > .details > .price {
  height: 25px;
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

#cart-body > #left > #left-four > #products > .product > .details > .price > p {
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: #ff813c;
}

#cart-body
  > #left
  > #left-four
  > #products
  > .product
  > .details
  > .price
  > span {
  font-size: 13px;
  text-decoration: line-through;
  color: #94969f;
  padding: 0;
  margin: 0;
}

#cart-body > #left > #left-five {
  height: 8%;
  width: 75%;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
}

#cart-body > #left > #left-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cart-body > #left > #left-five > #add-more {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
  /* border: 1px solid black; */
}

#cart-body > #left > #left-five > #add-more > h3 {
  font-size: 14px;
}

#cart-body > #right {
  height: 100%;
  width: 25%;
  margin-left: 20px;
  border-left: 1px solid rgb(226, 226, 226);
}

#cart-body > #right > #coupons {
  height: 15%;
  padding: 5px 10px;
  padding-left: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: 1px solid rgb(226, 226, 226);
}

#cart-body > #right > #coupons > p {
  padding: 0;
  margin: 0;
}

#cart-body > #right > #coupons > div {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#cart-body > #right > #coupons > #coupon > div {
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#cart-body > #right > #coupons > #coupon > div > h4 {
  padding: 0;
  margin: 0;
  font-size: 13px !important;
}

#cart-body > #right > #coupons > p {
  font-size: 13px;
  font-weight: bold;
  color: rgb(75, 75, 75);
}

#cart-body > #right > #coupons > #coupon > button {
  padding: 5px 14px;
  border: none;
  background: none;
  color: #ff3f6c;
  font-weight: bold;
  font-size: 11px;
  border: 1px solid #ff3f6c;
}

#cart-body > #right > #coupons > #coupon > button:hover {
  background-color: #ffe3ea;
  cursor: pointer;
}

#cart-body > #right > #support {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

#cart-body > #right > #support > p {
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 0 15px;
  margin: 0;
  color: black;
}

#cart-body > #right > #support > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  padding-left: 15px;
  margin: 10px 0 15px 0;
}

#cart-body > #right > #support > div:nth-child(2) > b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  /* padding-left: 15px; */
}

#cart-body > #right > #support > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding-left: 15px;
  margin: 5px 0 5px 0;
  /* border: 1px solid black; */
}

#cart-body > #right > #support > div:nth-child(3) > button {
  padding: 5px 15px;
  border-radius: 22px;
  border: none;
  background: none;
  font-weight: bold;
  border: 1px solid rgb(194, 194, 194);
}

#cart-body > #right > #support > b {
  font-size: 14px;
  color: #ff3f6c;
  padding-left: 15px;
  margin: 20px 0 20px 0;
  /* border: 1px solid black; */
}

#cart-body > #right > #price-details {
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

#cart-body > #right > #price-details > p {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: black;
}

#cart-body > #right > #price-details > div {
  margin-top: 15px;
  margin-bottom: 5px;
  /* border: 1px solid red; */
}

#cart-body > #right > #price-details > div > div {
  margin: 8px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

#cart-body > #right > #price-details > div > div > label {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#cart-body > #right > #price-details > div > div > span {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#cart-body > #right > #amount {
  padding-left: 15px;
}

#cart-body > #right > #amount > div {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

#cart-body > #right > #amount > div:nth-child(2) {
  width: 100%;
  padding: 10px 0;
  /* border: 1px solid black; */
}

#cart-body > #right > #amount > div:nth-child(2) > button {
  height: 42px;
  width: 100%;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  background-color: #ff3f6c;
  /* border: 1px solid black; */
}

#cart-body > #right > #amount > div:nth-child(2) > button:hover {
  background-color: #ff194f;
  cursor: pointer;
}

#footer-main {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid rgb(226, 226, 226);
}

#footer {
  height: 50px;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

#footer > #pay {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}

#footer > #pay > div {
  margin: 0 2px;
  height: 80%;
  width: 10%;
  /* border: 1px solid green; */
}

#footer > #pay > div > img {
  height: 100%;
  width: 100%;
}
